@model TodoWeb.Models.Todo

@{
    ViewData["Title"] = "Create";
}

<section aria-label="Task creation section">
    <h1>Add a Task</h1>
    <partial name="_IndexNav" />
    <form asp-action="Create" class="m-4" aria-label="Task creation form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input asp-for="CreatedDateTime" type="hidden" class="form-control" value="@DateTime.UtcNow.ToString(@Config.DateInputFormat)" />
        <div class="form-group col-container">
            <input type="submit" value="Create" class="btn-primary block" />
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
