@model TodoWeb.Models.Todo

@{
    ViewData["Title"] = "Edit";
}

<section aria-label="Edit task section">
    <h1>Edit Task</h1>
    <partial name="_IndexNav" />
    <form asp-action="Edit" aria-label="Edit task form">
        <div asp-validation-summary="ModelOnly" class="text-danger" aria-label="Error summary"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Done" class="control-label">Mark as Done</label>
            <input asp-for="Done" type="checkbox" class="todo-checker"
            data-id="@Model.Id" id="checkbox-@Model.Id" checked="@Model.Done" 
            aria-label="Task completion status checkbox" />
            <label class="checkbox-display icon-container" for="checkbox-@Model.Id"></label>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input asp-for="CreatedDateTime" type="hidden" class="form-control" value="@Model.CreatedDateTime.ToString(@Config.DateInputFormat)" />
        <div class="form-group col-container">
            <input type="submit" value="Save" class="btn-primary block" />
        </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
