<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todos</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TodoWeb.styles.css" asp-append-version="true" />
</head>
<body class="bg-slate-200 flex flex-col items-center">
    <header class="block w-full mb-5">
        <nav class="font-sans items-center flex place-content-between px-3">
            <a class="text-lg font-semibold" asp-controller="Home" asp-action="Index">Home</a>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <main role="main" class="mx-3 my-7">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
