@model CreateTodoArgs

<section class="todo-container bg-white" aria-label="Todo creation form">
    <form asp-action="Create" asp-controller="Todos" asp-route-forList="@Model.ListId"
     class="flex-grow flex overflow-auto">
        <input asp-for="Title" class="form-control mr-4" />

        <button class="btn-primary" type="submit">
            @* Plus icon svg *@
            <div class="icon-container rounded-full">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
            </div>
        </button>
    </form>
</section>
