@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <div class="inline-block">
        <a asp-controller="TodoLists" asp-action="Index" class="btn-primary">Get Started</a>
    </div>
</div>
