@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

summary::marker {
  content: "";
}

.title-header {
  @apply text-5xl font-extrabold font-sans text-center mb-7;

}

.btn {
  @apply text-white text-xl items-center font-semibold rounded-xl px-4 py-2 flex transition duration-300 cursor-pointer;
}

.btn-primary {
  @apply bg-primary hover:bg-secondary btn;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-400 btn;
}

.icon-container {
  @apply w-[1.5rem] h-[1.5rem] min-w-[1.5rem] min-h-[1.5rem] flex items-center justify-center;
}

.col-container {
  @apply flex flex-col items-center justify-center space-y-2;
}

/* CSS for individual todo items */
.todo-container {
  @apply relative w-full rounded-md flex bg-slate-200 p-3 items-center min-h-[6rem] shadow-md;
}

.todo-item-btn {
  @apply rounded-sm transition duration-300 p-1 m-3;
}

.delete-todo-btn {
  @apply hover:bg-red-500 hover:text-white todo-item-btn;
}

.edit-todo-btn {
  @apply  hover:bg-orange-500 hover:text-white todo-item-btn;
}

.checkbox-label {
  @apply border-2 border-gray-500 rounded-sm transition duration-300 m-4 cursor-pointer max-w-[1.25rem];
}

input[type="checkbox"] + .checkbox-label {
  @apply bg-cover;
}

input[type="checkbox"]:checked + .checkbox-label {
  @apply bg-primary hover:bg-secondary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='white' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7' /%3E%3C/svg%3E");
}

input[type="checkbox"].loading + .checkbox-label {
  background-image: url('../assets/spinner.gif');
}

/* Form styles */
.form-group, dt {
  @apply my-6;
}

.control-label, dt {
  @apply font-bold mb-2 block text-xl;
}

.form-control {
  @apply w-full px-4 py-2 rounded-md text-lg bg-slate-200 transition duration-300 shadow-inner;
}

.form-control:focus-visible {
  @apply outline-primary;
}

.input-validation-error {
  @apply border-2 border-red-500;
}

.text-danger {
  @apply text-red-500;
}