@model TodoWeb.Dtos.TodoListViewDto

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>

<partial name="_IndexNav" />
<partial name="_ListWithInput" model="Model" />

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/app/todoListAjaxInit.js"></script>
    <script>
        $(document).ready(function () {
            todoListAjaxInit();
        });
    </script>
}
